/*@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');*/
.text{
    -fx-font-family: 'Kanit';
    -fx-alignment: center;
}
.fill{
    -fx-font-family: 'Kanit';
    -fx-alignment: center;
}
.field{
    -fx-font-family: 'Kanit';
    -fx-font-size: 20px;
}

.head{
    -fx-font-family: 'Barlow';
}

.position{
    -fx-font-family: 'Kanit';
    -fx-font-size: 30px;
}
.normal_font{
    -fx-font-family: 'Kanit';
}

.show_label{
    -fx-font-family: 'Kanit';
    -fx-font-size: 25px;
}
.show_field{
    -fx-font-family: 'Kanit';
    -fx-font-size: 20px;
    -fx-text-fill: #081F37;
    -fx-opacity: 1.0;
}
.text-area {
    -fx-background-color:#61BDF6;
    -fx-background-radius: 50px;
    -fx-font-size: 20px;
    -fx-font-family: 'Kanit';
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area .content{
    -fx-padding: 20px;

}


.status-field{
    -fx-background-color: #9AFFDC;
    -fx-background-radius: 50px;
}

/*เมนูฝั่งซ้าย ฝ่ายขาย ฝ่ายคลัง*/
.role-name{
    -fx-font-family: 'Kanit';
    -fx-font-size: 25px;
}

/*หัวข้อเลขที่เอกสาร*/
.doc-id-label{
    -fx-font-family: 'Kanit';
    -fx-font-size: 28px;
}

/*หัวข้อเลขที่เอกสาร*/
.doc-field-label{
    -fx-font-family: 'Kanit';
    -fx-font-size: 22px;
}

